[ req ]
default_bits = 2048
prompt = no
distinguished_name = dn
req_extensions = v3_req

[ dn ]
C = NL                                  #Replace with actual 2 letter country code
O = Test B.V.                           #Replace with company name
CN = Test B.V.                          #Replace with company name

[ v3_req ]
keyUsage = critical, digitalSignature, nonRepudiation